:root {
    --text-color: #17153B;
    --link-color: #2E236C;
    --background-color: #FBF6E2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}